.App {
    text-align: center;
}

.HomePage {
    background-image: url('/public/images/homepage.jpg');
}

.CardSearch {
    background-image: url('/public/images/cardsearch.jpg');
}

.CardList {
    background-image: url('/public/images/cardlist.jpg');
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}

h1 {
    color: red;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin: 15px;
}

nav a {
    color: inherit;
}
